@media screen and (max-width: 479px) {

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .container {
    width: 200px;
  }


  .header {
    height: auto;
    justify-content: center;
    padding-right: 70px;
    padding-left: 70px;

  }

  .header-box-area {
    width: auto;
    height: auto;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    margin: 20px;  
  }

  
  .header-box {
    float: none;
    margin: 10px;
  }

  .main {
    display: block;
    height: auto;
  }

  .left {
    width: 200px;
    height: 120px;
    float: none;
  }

  .right {
    width: 200px;
    height: 250px;
    padding: 20px 0px 0px 0px;
  }

  .pink {
    display: flex;
    width: 140px;
  }


  .footer {
    float: none;
    height: 120px;
  }
}
