@media screen and (max-width: 479px) {

  /* clearfix */
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .container {
    width: 100%;
  }

  /* ===== ヘッダー ===== */
  .header {
    height: auto;
    justify-content: center;
    padding-right: 70px;
    padding-left: 70px;

  }

  /* 白枠 */
  .header-box-area {
    width: auto;
    height: auto;
    display: flex;              /* flex は使う */
    flex-direction: column;     /* ← 縦並びにする */
    align-items: center;        /* 中央揃え */
    margin: 20px;  
  }

  /* 緑3つ */
  .header-box {
    float: none;
    margin: 10px;
  }

  .main {
    display: block;
    height: auto;
  }

  .left {
    width: 100%;
    height: 120px;
  }

  .right {
    width: 100%;
    height: auto;
    padding: 20px 30px 0px 0px auto;
  }

  .pink {
    margin:20px 0px 0px 30px auto;
  }


  .footer {
    height: 150px;
  }
}
