
@media screen and (max-width: 479px) {


  .container {
    width: 100%;
  }

  
  .header {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }


  .header-box {
    width: 200px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

 
  .header-box div {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  
  .left {
    width: 200px;
    height: 120px;
    margin: 0 auto;
  }

  
  .right {
    width: 100%;
    padding: 20px 0;
  }

  
  .pink {
    width: calc(100% - 60px); 
    margin: 20px auto;
    height: 50px;
  }

  
  .footer {
    width: 100%;
    height: 100px;
  }
}
